/* Cubic Bezier Transition */
/***
Login page
***/
/* bg color */
body{
    background-color: #f9f9f9;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

form {
    background-color: white;
    width: 31%;
    margin: 40px auto 20px auto;
    padding: 30px;
    overflow: hidden;
    position: relative;
    border-top:solid 1px #ddd;
    border-bottom:solid 1px #ddd;
    background-color: #f9f9f9;
}
form label{
    font-size:15px;
    margin-top:30px;
}
form h4{
    text-align:center;
}

.form-control{
    height:40px;
    border-radius: 0px;
}
.login .input-group{
    width:100%;
}
.login .logo h5{
    color:#0028AC;
    font-size:15px;
}
.signBox{
    height: 40px;
    margin-top:30px;
    text-align:center;
}

.signInLayer{
    display:block;
    color:white;
    font-size:20px;
    line-height:33px;
    background-color: #3598DC;
}
.signUpLayer{
    margin-top:10px;
    display:block;
    color:white;
    font-size:20px;
    line-height:33px;
    background-color: #3598DC;
    height:40px;
}
.login .form-actions{
    margin-top:30px;
    margin-bottom: 0px;
}
.signInBtn {
    display:block;
    width:50%;
    color:white;
    height:50px;
    margin:0 auto;
    text-decoration: none;
    background-color: #0028AC;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0px;
}
.signInBtn:hover {
    color:white;
}

.create-account{
    position:relative;
    width:300px;
    border-radius: 5px;
    padding: 15px 20px;
    padding-bottom:50px;
    text-align: center;
    margin:0 auto;
}

.create-account span{
    font-size:12px;
    display:block;
    margin-bottom:10px;
    font-weight:500;
}
.create-account .btn{
    font-size:14px;
    color:white;
    border-radius: 0px;
    background-color: #848484;
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    form{
        width:100%;
    }
}