/* Cubic Bezier Transition */
/***
Login page
***/
/* bg color */
body{
    background-color: #f9f9f9;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

form {
    background-color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 300px;
    margin: 40px auto 20px auto;
    padding: 30px;
    overflow: hidden;
    position: relative;
    border:solid 1px #ddd;
}
form label{
    margin-top:15px;
}
form h4{
    text-align:center;
}
.signBox{
    height: 40px;
    margin-top:30px;
    text-align:center;
}
.signInLayer{
    display:block;
    color:white;
    font-size:20px;
    line-height:33px;
    background-color: #3598DC;
}
.signUpLayer{
    margin-top:10px;
    display:block;
    color:white;
    font-size:20px;
    line-height:33px;
    background-color: #3598DC;
    height:40px;
}

.signInBtn {
    width:100%;
    margin-top:30px;
    text-decoration: none;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.create-account{
    position:relative;
    width:300px;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    margin:0 auto;
}