@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,400italic,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:100,200,300,400,400italic,500,600,700');

/* ==========================================================================
typo
========================================================================== */

p {
  font-size: 1.8rem;
  line-height: 22.4px;
  color: #6c7279;
}
h1 {
  font-size: 65px;
  color: #2d3033;}
h2 {
  font-size: 6rem;
  color: #2d3033;
  font-weight: 300;
  font-family: 'Oxygen', "Raleway", sans-serif;
  text-transform: uppercase;
}
h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;}
h4 {
  font-size: 20px;
  color: #2d3033;
  font-weight: 200;}
h5 {
  font-size: 14px;
  color: #2d3033;
  /*text-transform: uppercase;*/
  font-weight: 900;}
.textLeft {
  text-align: left;
}
.mt25 {
  margin-top: 25px;
}
.p35 {
  padding: 35px;
}
a {
  text-decoration: none;
}
.op5 {
    opacity: 0.5;
}
.color-navi{
  color:#3598DC;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.re-image100{
  display:block;
  max-width:100%;
  height:auto;
}
.re-image01{
  display:block;
  max-width:80%;
  height:auto;
}
.margin-center{
  margin: 0 auto;
}

.margin-10{
  margin-top:10px;
}
.margin-20{
  margin-top:20px;
}
.margin-30{
  margin-top:30px;
}
.margin-40{
  margin-top:40px;
}
.margin-50{
  margin-top:50px;
}
.margin-60{
  margin-top:60px;
}
.margin-70{
  margin-top:70px;
}
.margin-80{
  margin-top:80px;
}
.margin-90{
  margin-top:90px;
}
.margin-100{
  margin-top:100px;
}
.margin-110{
  margin-top:110px;
}
.margin-120{
  margin-top:120px;
}
.margin-130{
  margin-top:130px;
}
.margin-140{
  margin-top:140px;
}
.margin-150{
  margin-top:150px;
}

.marginb-10{
  margin-bottom:10px;
}
.marginb-20{
  margin-bottom:20px;
}
.marginb-30{
  margin-bottom:30px;
}
.marginb-40{
  margin-bottom:40px;
}
.marginb-50{
  margin-bottom:50px;
}
.marginb-60{
  margin-bottom:60px;
}
.marginb-70{
  margin-bottom:70px;
}
.marginb-80{
  margin-bottom:80px;
}

body .white{
  color:white;
}

.container-fluid{
  /*
  padding-left:100px;
  padding-right:100px;
  */
}
/*
======================================
text-common
======================================*/
.text-keyword{
  font-weight:bold;
}
.text-black{
  color:black;
}
.text-white{
  color:white;
}
.text-cicle{
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: left;
}
.text-left-padding{
  padding-left:7px;
}
.oxy{
  font-family: "Oxygen", "Sans-Serif";
}
/*
==========================================================================
  buttony
  ========================================================================== */
.btn {
  background-color: #ff5e00;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  shadow: 1px 1px 1px #353535, 0 0 35px #353535, 0 0 5px #353535;}
.btn:hover, .btn:focus {
  background-color: #ff5e00;
  color: #ff5e00; }
.btn-large {
  padding: 15px 40px;}

.signIn-btn-large {
  padding: 15px 40px;}

.signIn-btn {
  background-color: #ff5e00;
  color: #fff;
  width: 250px;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;}

/* ==========================================================================
	style ogólne
========================================================================== */
a {
  color: #8a2424; }
a:hover, a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; }
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #6c7279; }
ul, ol {
  margin: 0;
  padding: 0; }
ul li {
  list-style: none; }
.section {
  padding: 100px 0;
  background-color: #434757;}
.no-padding {
  padding: 0; }
.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }
.divider {
  margin: auto;
  height: 3px;
  width: 100px;
  background-color: #3598DC;
  margin-bottom: 30px;
  margin-top: 30px;
}

.divider-sub {
  margin: auto;
  height: 3px;
  width: 20px;
  background-color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.img-res_80{
  max-width: 92%;
  height: auto;
}
/* ==========================================================================
	$nawigacja
========================================================================== */
#header {
  position: fixed;
  width: 100%;
  z-index: 1;}
#header .header-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
  width: 100%;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s; }
#header .logo {
  float: left; }
#header.fixed {
  /*background-color: #2d313c;*/
  background-color: black;
}
#header.fixed .header-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 25px 0; }
#header.fixed .nav-toggle {
  top: 18px; }
.navigation.open {
  opacity: 1;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }
.navigation {
  float: right; }
.navigation li {
  display: inline-block; }
.navigation a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: 700;
  margin-left: 40px;
  text-transform: uppercase;}
.navigation a:hover, .navigation a.active {
  color: #fff; }
.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
.nav-toggle:before, .nav-toggle:after {
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform; }
.nav-toggle:before {
  background-color: #009fe2;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
.nav-toggle:after {
  background-color: #009fe2;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }
.nav-toggle span {
  background-color: #fff;
  bottom: auto;
  display: inline-block;
  height: 3px;
  left: 50%;
  position: absolute;
  right: auto;
  top: 50%;
  width: 18px;
  z-index: 10;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
.nav-toggle span:before, .nav-toggle span:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }
.nav-toggle span:before {
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -webkit-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg); }
.nav-toggle span:after {
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg); }
.nav-toggle.close-nav:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0); }
.nav-toggle.close-nav:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }
.nav-toggle.close-nav span {
  background-color: rgba(255, 255, 255, 0); }
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
  background-color: #fff; }
.nav-toggle.close-nav span:before {
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }
.nav-toggle.close-nav span:after {
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }



/* ==========================================================================
	캔버스 셋팅
========================================================================== */
body .webGl{
  /*position:absolute;*/
  overflow-y: hidden;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
canvas{
  overflow-y: hidden;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

/* ==========================================================================
    $main box
========================================================================== */
#mainSection{
  padding-bottom:100px;
  background-color: black;
}
#mainSection .main-block-logo{
  display: block;
  max-width: 28%;
  height: auto;
  margin: 0 auto;
}
.banner-text {
  padding-top: 15%;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
.banner-text h1 {
  color: #fff;
  font-family: "Oxygen", sans-serif;
  font-weight: 500;
}
.banner-text p {
  color: #fff;
  font-family: "Oxygen", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 50px;
}

.beta-styles {
  background-color: #fff;
  border-radius: 5px;
  font-size:15px;
  font-weight: 600;
  color: #ff5e00;
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 0px 5px black;
  transition: transform 0.3s;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1000;}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video_overlays {
  position:absolute;
  width:100%;
  height: 850px;
  background-color:#000;
  z-index:1;    opacity: 0.6;
}

#kakaoTalk {
  background-color: #fff;
  color: #3598DC;
  width: 250px;
  /*border: 2px solid #ff5e00;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow:inset 0px 0px 0px 2px #fff;
  vertical-align: bottom;
  padding:10px;
}
#kakaoTalk_v1 {
  background-color: #fff;
  color: #3598DC;
  width: 250px;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: bottom;
  padding:20px;
}
#signIn{
  background-color: #3598DC;
  color: #fff;
  width: 250px;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: bottom;
  padding:20px;
}
#kakaoTalk h2 {
  font-family: 'Lato', "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  /*padding-bottom: 50px;*/
}

.kakaoTalk-btn-large {
  padding: 15px 40px;}
.kakaoTalk-btn {
  background-color: #fff;
  color: #ff5e00;
  width: 250px;
  /*border: 2px solid #ff5e00;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow:inset 0px 0px 0px 2px #fff;
}
.kpw{
  font-size:11px;
}
.wrapper {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*margin-left: 50px;*/
  /*margin-right: 50px;*/
  /*max-width: 853px;*/
  /*max-height: 480px;*/
}
/* ==========================================================================
	time count box
========================================================================== */
.no-box {
  position:relative;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
}

.box__title {
  font-size:30px;
  font-family: "Oxygen", "sans-serif";
  color: white;
}

.box__description {
  padding-top: 5px;
  padding-bottom: 25px;
  font-size: 10px;
  margin: 0 auto;
  color: #fff;
  max-width: 680px;
}

.no-box .box-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
}

.no-box .box-container__box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 110px;
}

.no-box .box-container__digit {
  display: block;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  font-size: 77px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 118px;
  height: 118px;
  margin: 12px 0 0 12px;
  color: #fff;
}
.no-box .box-container__digit:after {
  content: ":";
  margin-left: 33px;
}
.no-box .box-container__digit-last:after {
  content: "";
  margin-left: 12px;
}
.no-box .box-container__description {
  font-family: "Oxygen", "Sans-Serif";
  font-size: 20px;
  line-height: 20px;
  padding-right: 12px;
  color: #fff;
}

.coin-limit-box{
  text-align:left;
  margin-top:10%;
}
.coin-limit-box span{
  color:white;
  font-size:2rem;
}
.coin-limit-box .able-max-coin{
  /*color:#d35400;*/
  color:#009FE2;
}
.coin-limit-box p{
  display:inline-block;
  border:solid 1px blue;
}
.coin-limit-box .use-progess{
  display:inline-block;
  width:0%;
  height:25px;
  background-color: #d35400;
}
.coin-limit-box .avail-progess{
  margin-top:10px;
  display:inline-block;
  width:100%;
  height:25px;
  margin-left:-7px;
  background-color: white;
}

.coin-limit-box .use-text{
  display:inline-block;
  text-align:right;
  width:100%;
  font-size:1.4rem;
  margin-left:-7px;
  vertical-align: top;
}
/* ==========================================================================
	$about
========================================================================== */
#about {
  background-color: #fff;
}
#about h2 {
  color: black;
}
#about span {
  font-family: "Oxygen", "Sans-Serif";
  font-weight: 500;
}
#about .main-text-type01 {
  font-family: "Oxygen", "Sans-Serif";
  font-size:2.8rem;
}
#about .main-text-type02 {
  display: block;
  font-size:2.4rem;
}
#about .about-small {
  font-size:16px;
  color:#6c7279;
}
#about .color-text{
  color:#3598DC;
}
#about .main-font-up{
  font-size:4rem;
}
#about p {
  color: black;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#about #desktop-view-box{
  display:block;
}

#about #mobile-view-box{
  display:none;
}



/* ==========================================================================
  $preview
========================================================================== */
#video {
  background-color: #434757;
}

.video-box{
  padding-left:5%;
}
#video iframe{
  height:480px;
}
.video-text-box{
  margin-top:20px;
  padding-left:10%;
  padding-right:10%;
}

#video .main-text{
  font-size:4rem;
}

#video p{
  font-size:2rem;
  font-weight:100;
  line-height:35px;
  padding-top:20px;
  color:white;
}
#video span{
  font-weight:bold;
}
/* ==========================================================================
  $needs
========================================================================== */
#needs {
  background-color: #434757;
}
#needs h2 {
  color: white;
}
#needs span {
  font-weight: 500;
}
#needs .main-text {
  font-size:2.4rem;
  font-weight:500;
}
#needs .about-small {
  font-size:16px;
  color:#6c7279;
}
#needs .color-text{
  color:#3598DC;
}
#needs .main-font-up{
  font-size:28px;
}
#needs p {
  color: white;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}


/* ==========================================================================
	$에이블 스트럭처
========================================================================== */

#structure{
  background-color: white;
}

#structure h3{
  font-size: 4rem;
}

#structure .main-text{
  font-size: 4rem;
}

#structure p{
  font-size: 2rem;
  font-weight: 300;
  line-height: 35px;
  padding-top: 20px;
  color:black;
}
#structure span{
  font-weight:500;
}

#structure #desktop-view-box{
  display:block;
}

#structure #mobile-view-box{
  display:none;
}
/* ==========================================================================
	$coin
========================================================================== */
#project {
  background-color: #262b36;
}
#project h2{
  color:white;
}
#project .main-description{
  line-height:45px;
}
#project .start-content{
  margin-top:70px;
}
#project .border-box{
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 20px;
  width: 450px;
  height: 60px;
  line-height:20px;
  text-align:center;
  color:white;
  margin:0 auto;
}
#project .arrow-box{
  width:40px;
  margin:0 auto;
  margin-top:15px;
  margin-bottom:15px;
  font-size:40px;
  color:#3598DC;
}

/* ==========================================================================
	features
========================================================================== */
#service {
  background-color: #fff;
}
#service p {
  font-weight: 300;
  line-height:30px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  text-align:left;
}
#service .feature {
  margin-bottom: 50px;
  width: 60%;
  min-height: 235px;
  margin: auto;
}
#service .feature-content {
  margin-top: 30px;
}
#service .icon {
  color: #e84545;
  font-size: 60px;
}
#service .feature-text h2 {
  color: #2d3033;
  font-weight: 200;
  text-transform: uppercase;
}
#service .type-box{
  padding-left:3%;
  padding-right:3%;
}

/* ==========================================================================
	$platform
========================================================================== */
#platform {
  text-align: center;
  background-color: #434757;
}
#platform h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}
#platform h3 {
  font-size:2.8rem;
  color: #fff;
  font-weight: 200;
  margin-top:80px;
  margin-bottom:40px;
}

#platform .type-box{
  padding-top:4%;
  padding-left:9%;
  padding-right:9%;
}

#platform h4 {
  font-size:2.2rem;
  color: #fff;
  font-weight: 300;
}
#platform h5 {
  color: #ddd;
  font-weight: 400;
  /*margin-top: 25px;*/
}
#platform p {
   color: #ccc;
  /*margin-top: 25px;*/
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 300!important;
   line-height: 1.8;
   text-align: justify;
   margin-top:20px;
   -moz-text-align-last: left;
   text-align-last: left;
   animation: fadein 2s;
   -moz-animation: fadein 2s; /* Firefox */
   -webkit-animation: fadein 2s; /* Safari and Chrome */
   -o-animation: fadein 2s; /* Opera */
}
#platform .type-box span{
  color:white;
  font-weight:400;
}
#platform img {
  margin-top: 50px;
  margin-bottom: 50px;
}

#platform .imageBox{
  position:relative;
  margin-top:100px;
}

/* ==========================================================================
	$TOKEN SALE
========================================================================== */
#Sale {
  text-align: center;
  background-color: #fff;
}
#Sale h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}


#Sale .top-box{
  width:100%;
  height:160px;
  margin-top:80px;
  border-bottom:solid 2px black;
}

#Sale .td-01{
  color:black;
  font-size:2.5rem;
}
#Sale .td-02{
  color:black;
  font-size:2.5rem;
}
#Sale .td-03{
  color:black;
  font-size:2.5rem;
}
#Sale .font-down{
  font-size:1.7rem;
}
#Sale .border-box{
  border-bottom:solid 2px black;
  padding-bottom:90px;
}

#Sale .bottom-box{
  margin-top:60px;
}

#Sale .bottom-box h4{
  color:#2d3033;
}

#Sale .limit-per-zone{
  margin:0 auto;
}

#Sale .limit-box{
  margin-top:40px;
}
#Sale .color-define-zone{
  text-align:left;
}
#Sale .color-define-zone div{
  margin-top:15px;
}
#Sale .color-box-text{
  font-size:14px;
  color:#2d3033;
  padding-left:10px;
  vertical-align: top;
}

/* ==========================================================================
	$Roadmap
========================================================================== */
#roadmap {
  background-color: #434757;
}
#roadmap h2 {
  color: #fff;
  text-transform: uppercase;
}
#roadmap h4 {
  line-height: 1.4;
  margin-bottom: 50px;
  font-weight: 300;
}
#roadmap p {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 90%;
}
#roadmap h3 {
  height: 47px;
  font-size: 24px;
  border:solid 1px white;
  color:white;
  -webkit-border-radius:35px;
  -moz-border-radius:35px;
  border-radius:35px;
  line-height:42px;
  margin:0 auto;
}
.dot {
  background-color: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  margin: auto;
}
#roadmap .roadmapBox{
  height:195px;
}
/* ==========================================================================
	$Team
========================================================================== */
#team {
  background-color: #434757;
}
#team h2 {
  color: #fff;
  text-transform: uppercase;
}
#team h4 {
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 50px;
}
#team .section-title {
  padding-top:20px;
  padding-bottom:20px;
  font-size: 22px;
  font-weight: 500;
  color:#fff;
}

.img-res-100{
  width:100%;
  height: auto;
}
#team .imageBox{
  margin-top:30px;
  margin-bottom:30px;
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 247px;
  -webkit-filter: grayscale(100%);
}
#team .imageBox:hover{
  -webkit-filter: grayscale(0%);
  filter: none;
}
#team .nameBox{
  font-size:20px;
  text-align:left;
  color:white;
}
#team .catBox{
  padding-top:5px;
  font-size:18px;
  text-align:left;
  color:white;
}
#team .jobBox{
  padding-top:20px;
  font-size:14px;
  text-align:left;
  color:white;
}

#team .dev-tum{
  margin-top:20px;
}
#team .ceo{
  background-image: url("/images/member/ceo-black.png");
}
#team .cto{
  background-image: url("/images/member/cto-black.jpeg");
}
#team .cfo{
  background-image: url("/images/member/cfo-black.jpeg");
}
#team .cso{
  background-image: url("/images/member/bit-cso-black.jpeg");
}
#team .bit-ceo{
  background-image: url("/images/member/bit-ceo-black.jpeg");
}
#team .bit-cto{
  background-image: url("/images/member/bit-cto-black.jpeg");
}
#team .bit-cso{
  background-image: url("/images/member/bit-cso-black.jpeg");
}

/* ==========================================================================
	$TEAM
========================================================================== */

#team .title {
  font-size: 32px;
  color: #ffffff;
  border-bottom: 1px solid rgba(175,175,175,1);
  margin-top: 90px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.content-wrap .team .list .title .b {
  background-position: -280px -484px;
  display: inline-block;
  width: 26px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: calc(50% - 3px);
}


/* ==========================================================================
	$roadshow
========================================================================== */
#roadshow {
  padding: 0px 15px;
}
.roadshow {
  display: flex;
}
.photo {
  background: url('../images/roadshow-singapur.jpg') no-repeat center center;
  background-size: cover;
  background-color: #2d313c;
}
.info {
  background-color: #2d313c;
}
.roadshow-box {
  padding: 80px;
}
.roadshow-box h4 {
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 2;
  margin-top: 25px;
}
.roadshow-box h3 {
  color: #fff;
  text-align: center;
}
.roadshow-box h5 {
  color: #d6d6d6;
  text-align: center;
  font-weight: 300;
  text-transform: none;
}
.roadshow-box h6 {
  color: #7b7b7b;
  text-align: center;
}
.roadshow-box p {
  color: #d6d6d6;
  text-align: center;
  font-weight: 300;
}

/* ==========================================================================
	$faq
========================================================================== */
#faq {
  background-color: white;
}

#faq h2{
  color: black;
}
.gone {
  display:none;
}
.faq_accordion_item {
  margin-bottom: 2px;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}
.faq_accordion_child {
  position: absolute;
  right:10px;
  top:10px;
  font-size: 16px;
  font-weight: bold;
}
.white_secton {
  color:#000;
}
.darkgrey_section {
  background-color: #2B2F39 !important;
  position: relative;
  overflow: hidden;
}
.darkgrey_section h2 {
  color:#fff;
  text-transform: uppercase;
}
#faq .list-group-item{
  color: black;
}

/* ==========================================================================
	$Ask
========================================================================== */
#ask {
  background-color: #fff;
}
#ask h2 {
  color: #000;
  text-transform: uppercase;
}
#ask img {
  cursor:pointer;
  height: 50px;
  border-radius: 5px;
  margin-top: 80px;
}
/* ==========================================================================
	$Contact
========================================================================== */
#signIn h2 {
  color: #000;
  text-transform: uppercase;
}
#signIn h4 {
  line-height: 1.4;
  font-weight:300;
}

/* ==========================================================================
	$asSeenIn
========================================================================== */
#asSeenIn {
    background-color: #fff;
  }
#asSeenIn h2 {
  margin-bottom: 50px;
  color: #000;
  text-transform: uppercase;
}
#asSeenIn img {
  margin: 34px;
}
#asSeenIn .box-1{
  height:60px;
}
#asSeenIn .box-2{
  height:57px;
}
#asSeenIn .box-3{
  height:54px;
}
#asSeenIn .box-4{
  margin:15px;
  height:84px;
}
#asSeenIn .box-5{
  margin:53px;
  height:20px;
}
#asSeenIn .box-6{
  height:60px;
}
#asSeenIn .box-7{
  height:50px;
}

/* ==========================================================================
	$Footer
========================================================================== */
.footer {
  text-align: center;
  margin-top: -5px;}
.footer-top {
  background-color: #262b36;
  padding-top: 30px; }
.footer .footer-col {
  margin-bottom: 50px; }
.footer h5 {
  color: #fff;
  margin-bottom: 20px;
  text-transform: none; }
.footer p {
  font-size: 14px;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.5); }
.footer a {
  color: #fff; }
.footer a:hover {
  color: #e84545; }
.footer img {
  cursor:pointer;
  height: 30px;
  border-radius: 5px;
}
.footerSocials {
  display: inline-flex;
}
.footerSocials>div {
  padding: 10px;
}

.animated {
  visibility: visible; }


/* =====================================
mobile size fix css
========================================*/
/* Small Devices, Tablets */


/* ==========================================================================
	Font Icon (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@font-face {
  font-family: "elegant-theme-line";
  src: url('/fonts/elegant-theme-line.ttf?1439850014') format('truetype'), url('/fonts/elegant-theme-line.eot?1439850014') format('embedded-opentype'), url('/fonts/elegant-theme-line.svg?1439850014') format('svg'), url('/fonts/elegant-theme-line.woff?1439850014') format('woff'); }
.icon {
  font-family: 'elegant-theme-line';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mobile:before {
  content: "\e000"; }

.icon-laptop:before {
  content: "\e001"; }

.icon-desktop:before {
  content: "\e002"; }

.icon-tablet:before {
  content: "\e003"; }

.icon-phone:before {
  content: "\e004"; }

.icon-document:before {
  content: "\e005"; }

.icon-documents:before {
  content: "\e006"; }

.icon-search:before {
  content: "\e007"; }

.icon-clipboard:before {
  content: "\e008"; }

.icon-newspaper:before {
  content: "\e009"; }

.icon-notebook:before {
  content: "\e00a"; }

.icon-book-open:before {
  content: "\e00b"; }

.icon-browser:before {
  content: "\e00c"; }

.icon-calendar:before {
  content: "\e00d"; }

.icon-presentation:before {
  content: "\e00e"; }

.icon-picture:before {
  content: "\e00f"; }

.icon-pictures:before {
  content: "\e010"; }

.icon-video:before {
  content: "\e011"; }

.icon-camera:before {
  content: "\e012"; }

.icon-printer:before {
  content: "\e013"; }

.icon-toolbox:before {
  content: "\e014"; }

.icon-briefcase:before {
  content: "\e015"; }

.icon-wallet:before {
  content: "\e016"; }

.icon-gift:before {
  content: "\e017"; }

.icon-bargraph:before {
  content: "\e018"; }

.icon-grid:before {
  content: "\e019"; }

.icon-expand:before {
  content: "\e01a"; }

.icon-focus:before {
  content: "\e01b"; }

.icon-edit:before {
  content: "\e01c"; }

.icon-adjustments:before {
  content: "\e01d"; }

.icon-ribbon:before {
  content: "\e01e"; }

.icon-hourglass:before {
  content: "\e01f"; }

.icon-lock:before {
  content: "\e020"; }

.icon-megaphone:before {
  content: "\e021"; }

.icon-shield:before {
  content: "\e022"; }

.icon-trophy:before {
  content: "\e023"; }

.icon-flag:before {
  content: "\e024"; }

.icon-map:before {
  content: "\e025"; }

.icon-puzzle:before {
  content: "\e026"; }

.icon-basket:before {
  content: "\e027"; }

.icon-envelope:before {
  content: "\e028"; }

.icon-streetsign:before {
  content: "\e029"; }

.icon-telescope:before {
  content: "\e02a"; }

.icon-gears:before {
  content: "\e02b"; }

.icon-key:before {
  content: "\e02c"; }

.icon-paperclip:before {
  content: "\e02d"; }

.icon-attachment:before {
  content: "\e02e"; }

.icon-pricetags:before {
  content: "\e02f"; }

.icon-lightbulb:before {
  content: "\e030"; }

.icon-layers:before {
  content: "\e031"; }

.icon-pencil:before {
  content: "\e032"; }

.icon-tools:before {
  content: "\e033"; }

.icon-tools-2:before {
  content: "\e034"; }

.icon-scissors:before {
  content: "\e035"; }

.icon-paintbrush:before {
  content: "\e036"; }

.icon-magnifying-glass:before {
  content: "\e037"; }

.icon-circle-compass:before {
  content: "\e038"; }

.icon-linegraph:before {
  content: "\e039"; }

.icon-mic:before {
  content: "\e03a"; }

.icon-strategy:before {
  content: "\e03b"; }

.icon-beaker:before {
  content: "\e03c"; }

.icon-caution:before {
  content: "\e03d"; }

.icon-recycle:before {
  content: "\e03e"; }

.icon-anchor:before {
  content: "\e03f"; }

.icon-profile-male:before {
  content: "\e040"; }

.icon-profile-female:before {
  content: "\e041"; }

.icon-bike:before {
  content: "\e042"; }

.icon-wine:before {
  content: "\e043"; }

.icon-hotairballoon:before {
  content: "\e044"; }

.icon-globe:before {
  content: "\e045"; }

.icon-genius:before {
  content: "\e046"; }

.icon-map-pin:before {
  content: "\e047"; }

.icon-dial:before {
  content: "\e048"; }

.icon-chat:before {
  content: "\e049"; }

.icon-heart:before {
  content: "\e04a"; }

.icon-cloud:before {
  content: "\e04b"; }

.icon-upload:before {
  content: "\e04c"; }

.icon-download:before {
  content: "\e04d"; }

.icon-target:before {
  content: "\e04e"; }

.icon-hazardous:before {
  content: "\e04f"; }

.icon-piechart:before {
  content: "\e050"; }

.icon-speedometer:before {
  content: "\e051"; }

.icon-global:before {
  content: "\e052"; }

.icon-compass:before {
  content: "\e053"; }

.icon-lifesaver:before {
  content: "\e054"; }

.icon-clock:before {
  content: "\e055"; }

.icon-aperture:before {
  content: "\e056"; }

.icon-quote:before {
  content: "\e057"; }

.icon-scope:before {
  content: "\e058"; }

.icon-alarmclock:before {
  content: "\e059"; }

.icon-refresh:before {
  content: "\e05a"; }

.icon-happy:before {
  content: "\e05b"; }

.icon-sad:before {
  content: "\e05c"; }

.icon-facebook:before {
  content: "\e05d"; }

.icon-twitter:before {
  content: "\e05e"; }

.icon-googleplus:before {
  content: "\e05f"; }

.icon-rss:before {
  content: "\e060"; }

.icon-tumblr:before {
  content: "\e061"; }

.icon-linkedin:before {
  content: "\e062"; }

.icon-dribbble:before {
  content: "\e063"; }
