/* Cubic Bezier Transition */
/***
Login page
***/
/* bg color */
body{
    background-color: #f9f9f9;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.login .logo h5{
    color:#0028AC;
    font-size:13px;
}

.loginForm {
    background-color: white;
    width: 50%;
    margin: 40px auto 20px auto;
    padding: 30px;
    overflow: hidden;
    position: relative;
    border-top:solid 1px #ddd;
    border-bottom:solid 1px #ddd;
}
.loginForm label{
    margin-top:15px;
}
.loginForm h4{
    text-align:center;
}
.addr-action-box{
    margin-top:30px;
}
.addr-info-btn {
    display:block;
    color:white;
    width:50%;
    margin:0 auto;
    text-decoration: none;
    background-color: #0028AC;
    border-radius: 0px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.addr-info-btn:hover{
    color:white;
}

@media screen and (max-width: 1024px) {
    .loginForm{
        width:100%;
    }
}