/* Cubic Bezier Transition */
/***
Login page
***/
/* bg color */
body{
    background-color: #f9f9f9;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.login .logo h5{
    color:#0028AC;
    font-size:13px;
}

.loginForm {
    font-size:1.6rem;
    background-color: white;
    width: 35%;
    margin: 40px auto 20px auto;
    padding: 30px;
    overflow: hidden;
    position: relative;
    border-top:solid 1px #ddd;
    border-bottom:solid 1px #ddd;
}
.portlet{
    padding-top:20px;
    padding-bottom:20px;
}

.portlet{
    border-bottom:solid 1px #d9d9d9;
}

.endBox{
    border-bottom:solid 0px white;
}

.portlet .caption i {
    color: #e26a6a;
}
.portlet .caption{
    font-size:1.5rem;
    font-weight: 500;
}
.portlet .portlet-body h5{
    font-size:1.8rem;
    font-weight: 300;
}

.addr-action-box{
    margin-top:30px;
}
.addr-action-box .btn{
    color:white;
}
.addr-info-btn {
    display:block;
    color:white;
    width:50%;
    margin:0 auto;
    text-decoration: none;
    background-color: #0028AC;
    border-radius: 0px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.addr-info-btn:hover{
    color:white;
}

.send-box{
    font-size: 14px;
}

.receive-box{
    font-size: 14px;
}

.send-eth{
    color: #062DAE;
    font-size:2.4rem;
    font-weight:500;
}

.receive-token{
    color: #062DAE;
    font-size:2.4rem;
    font-weight:500;
}
.font-up{
    font-size:1.9rem;
}
@media screen and (max-width: 1024px) {
    .loginForm{
        width:100%;
    }
}